.container {
    width: 50%;
    position: relative;
    left:26%;
    background-color: #fff;
    border-radius: 10px;
    height: 1335px
}

.containerGrey {
    background-color: rgb(98, 98, 98);
    width: 50%;
    position: relative;
    left:26%;
    border-radius: 10px;
    height: 1335px
}

.title {
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 6%;
    font-weight: bold;
}

.paragraph {
    position: relative;
    top: 80px;
    left: 6%;
    width: 88%;
    line-height: 30px;
    color: hsl(0, 0%, 56%);
    font-weight: 500;
}