.app {
    background-color: rgb(212, 212, 212) ;
    height: 2400px;
}

.appGrey {
    background-color: rgb(149, 147, 147);
}

.navbarSide {
    background-image: url('./images/image-hero-desktop.jpg');
    height: 400px;
}